.nav__listmenu {
  display: flex;
  justify-content: center;
  list-style: none;
}

.nav__elementMenu {
  padding: 20px;
}

.nav__link {
  font-family: "Outfit";
  text-decoration: none;
  font-size: 22px;
  color: #49346c;
}

.nav__link:hover {
  color: #5a0cd8;
}
